__pycache__/
.pytest_cache/

venv/
.env

logs/
*.log

migrations/

.DS_Store

.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.coverage

.github/workflows/

app.db

instance/

